* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* -------- Header Styling -------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 5px black;
    box-shadow: 10px;
    padding: 0px 10px;
    background-color: #EAE7DC;
    height: 90px;
}

.header-logo {
    height: 64px;
    width: auto;
}

.header-title {
    width: 128px;
    height: 64px;
    font-size: 32px;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-left: 10px;
    color: #e8594fda;
}

.header-title-logo {
    display: flex;
    align-items: center;
    margin: auto 0px;
}

.div-add-button {
    border-left: 2px solid #e8594fda;
    border-right: 2px solid #e8594fda;
}

.div-delete-button {
    border-right: 2px solid #e8594fda;
}

.buttons {
    display: flex;
    height: 100%;
}

.button {
    height: 100%;
    width: 128px;
    background-color: #e98074b4;
    color: #EAE7DC;
    border: 0px;
}

#add-media-form {
    display: none;
}

#delete-media-form {
    display: none;
}

/* -------- Index Styling -------- */

.records-entry {
    border: 2px solid navy;
    background-color: #EAE7DC;
    margin: 10px;
    color: #4d4c4c;
}

.records-entry h1 a {
    text-decoration: none;
    color: #e98074;
}

.records {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e8594f7a;
    padding: 32px 10px;
}

