<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-title-logo">
        <img src="https://www.discogs.com/release/1651065-Joy-I-Need-Your-Love/image/SW1hZ2U6MjQ0OTk5Mg==?ev=item-vcg" alt="">
        <a href="/records"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/12in-Vinyl-LP-Record-Angle.jpg/800px-12in-Vinyl-LP-Record-Angle.jpg" alt="Record Image" class="header-logo"></a>
        <a href="/records" class="header-title"><p>Record Roullette</p></a>
        </div>
        <div class="buttons">
            <div class="div-add-button"><button class="button" id="button-add-media" onclick="displayAddForm('add-media-form')">Add Media</button></div>
            <div class="div-delete-button"><button class="button" id="button-delete-media" onclick="displayDeleteForm('delete-media-form')">Delete Media</button></div>
        </div>
    </header>

    <script>
        function displayAddForm(id) {
            document.getElementById(id).style.display = "inline-block"
        }

        function displayDeleteForm(id) {
            document.getElementById(id).style.display = "inline-block"
        }
    </script>
    
    {% block content %}
        
    {% endblock content %}

</body>
</html>