<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <a href="/records">Record Roullette</a>
        <p>Record Roullette</p>
        <img src="/Users/rossbuchan/codeclan_work/week_03/weekend_hw/record_swap_lab/img/—Pngtree—vinyl record disc_4766722.png" alt="Record image">
        <img src="https://www.discogs.com/release/1651065-Joy-I-Need-Your-Love/image/SW1hZ2U6MjQ0OTk5Mg==?ev=item-vcg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/12in-Vinyl-LP-Record-Angle.jpg/800px-12in-Vinyl-LP-Record-Angle.jpg" alt="Record Image" class="header-logo">
    </div>
    {% block content %}
        
    {% endblock content %}

</body>
</html>