{% extends "base.jinja" %} {% block content %}
    
    <div class="add-record" id="add-media-form">
        <form action="/records" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <label for="artist">Artist</label>
            <input type="text" name="artist" id="artist">
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre">
            <label for="format">Format</label>
            <input type="text" name="format" id="format">
            <label for="artwork">Artwork</label>
            <input type="text" name="artwork" id="artwork">
            <input type="submit" value="Add Media">
        </form>
    </div>
    <div class="delete-record" id="delete-media-form">
        <form action="/records/delete/<index>" method="POST">
            <label for="title_to_delete">Which title would you like to delete?</label>
            <input type="text" name="title_to_delete" id="title_to_delete">
            <input type="submit" value="Delete Media">
        </form>
    </div>
    </div>
    <section class="records">
        {% for record in record_list %}
        <div class="records-entry">
            <img src="{{ record.artwork }}" alt="Media Artwork" class="record-entry-artwork">
            <div>
                <h1><a href="/records/{{ record.title }}">{{ record.title }}</a></h1>
                <h2>{{ record.artist }}</h2>
                <h2>{{ record.genre }}</h2>
                <h3>{{ record.format }}</h3>
                {% if record.checked_out %}
                    <p>Checked Out</p>
                {% else %}
                    <p>Available</p>
                {% endif %}
                <form action="/records/update/{{ record.title }}" method="POST">
                    <label for="button-check_in">Return</label>
                    <input type="radio" id="button-check_in" name="button-update" value="False">
                    <label for="button-check_out">Check Out</label>
                    <input type="radio" name="button-update" id="button-check_out" value="True">
                    <input type="submit" value="update_media">
                </form>
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock %}