<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <h1>{{ title }}</h1>
    </div>
    <div>
        <h2>{{ record.artist }}</h2>
        <h2>{{ record.genre }}</h2>
        <h3>{{ record.format }}</h3>
        {% if record.checked_out %}
            <h3>This record is checked out</h3>
        {% else %}
            <h3>This record is available</h3>
        {% endif %}
    </div>
</body>
</html>